#include <winver.h>

VS_VERSION_INFO VERSIONINFO
  FILEVERSION 1,8,0,0
  PRODUCTVERSION 1,8,0,0
  FILEFLAGSMASK 0
  FILEFLAGS 0
  FILEOS VOS__WINDOWS32
  FILETYPE VFT_APP
  FILESUBTYPE VFT2_UNKNOWN
  BEGIN
    BLOCK "StringFileInfo"
    BEGIN
      BLOCK "040904B0"
      BEGIN
        VALUE "CompanyName", "Tabos.org"
        VALUE "FileDescription", "Roger Router"
        VALUE "FileVersion", "1.8.0"
        VALUE "InternalName", "Roger Router"
        VALUE "LegalCopyright", "Copyright (C) 2012-2013 Jan-Michael Brummer (See the COPYRIGHT file in the source distribution)."
        VALUE "OriginalFilename", "roger.exe"
        VALUE "ProductName", "Roger Router"
        VALUE "ProductVersion", "1.8.0"
      END
    END
    BLOCK "VarFileInfo"
    BEGIN
      VALUE "Translation", 0x409, 1200
    END
  END

104 ICON "../win32/roger.ico"
